.modalWindow {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55rem;
  height: 95%;
  z-index: 100;
  border-radius: 1.5rem;
}

.modalWindowBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px); /* Apply a blur effect */
  background-color: rgba(0, 0, 0, 0.749); /* Semi-transparent background */
  z-index: 90;
}

.fullImage {
  max-width: 38rem;
  border-radius: 1.5rem;
}

.modalWindowLayout {
  position: relative;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  gap: 1rem;
  align-items: center;
  border-radius: 1.5rem;
}

.descriptionBox {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  background-color: aliceblue;
  right: -5rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: 3px solid black;
  z-index: 101;
}

.descriptionBox h1 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
}

.xButton {
  position: absolute;
  top: -2rem;
  right: -6rem;
  font-size: 4rem;
  color: #fff;
}

.xButton {
  width: 5.36rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  transition: all 0.3s;
  border: 3px solid white;
}

.xButton:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
  border: 3px solid black;
}

.mobileModalWindow {
  display: none;
}

@media (max-width: 50em) {
  .modalWindow {
    display: none;
  }
  .mobileModalWindow {
    display: unset;
  }
  .descriptionBox {
    position: static;
    transform: translate(0, 0);
    background-color: aliceblue;
    right: -5rem;
    text-align: center;
  }
  .xButton {
    position: absolute;
    top: 0rem;
    right: -1rem;
    font-size: 4rem;
    color: #fff;
  }
}
